<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Template • TodoMVC</title>
		<link rel="stylesheet" href="node_modules/todomvc-app-css/index.css">
		<!-- CSS overrides - remove if you don't need it -->
		<link rel="stylesheet" href="css/app.css">
	</head>
	<body>
		<section class="todoapp" id="app">
			<header class="header">
				<h1>todos</h1>
				<input class="new-todo" v-model="newItem" v-on:keyup.13="add()" placeholder="What needs to be done?" autofocus >
			</header>
			<!-- This section should be hidden by default and shown when there are todos -->
			<section class="main">
				<input class="toggle-all" type="checkbox" @change="toggleAll()" v-model="toggle">
				<label for="toggle-all">Mark all as complete</label>
				<ul class="todo-list">
					<!-- These are here just to show the structure of the list items -->
					<!-- List items should get the class `editing` when editing and `completed` when marked as completed -->
					<li v-bind:class="{ completed: item.completed ,editing:editId == index}" v-for="(item,index) in myTodos">
						<div class="view">
							<input class="toggle" type="checkbox" checked v-model="item.completed">
							<label @dblclick="edit(index)">{{item.name}}</label>
							<button class="destroy" @click="remove(index)"></button>
						</div>
						<input class="edit" v-model="item.name" @keyup.13="save()">
					</li>
					<!-- <li>
						<div class="view">
							<input class="toggle" type="checkbox">
							<label>Buy a unicorn</label>
							<button class="destroy"></button>
						</div>
						<input class="edit" value="Rule the web">
					</li> -->
				</ul>
			</section>
			<!-- This footer should hidden by default and shown when there are todos -->
			<footer class="footer">
				<!-- This should be `0 items left` by default -->
				<span class="todo-count"><strong>{{getItemNum}}</strong> item left</span>
				<!-- Remove this if you don't implement routing -->
				<ul class="filters">
					<li>
						<a class="selected" href="#/">All</a>
					</li>
					<li>
						<a href="#/active">Active</a>
					</li>
					<li>
						<a href="#/completed">Completed</a>
					</li>
				</ul>
				<!-- Hidden if no completed items are left ↓ -->
				<button class="clear-completed" @click="clearCompleted()">Clear completed</button>
			</footer>
		</section>
		<footer class="info">
			<p>Double-click to edit a todo</p>
			<!-- Remove the below line ↓ -->
			<p>Template by <a href="http://sindresorhus.com">Sindre Sorhus</a></p>
			<!-- Change this out with your name and url ↓ -->
			<p>Created by <a href="http://todomvc.com">you</a></p>
			<p>Part of <a href="http://todomvc.com">TodoMVC</a></p>
		</footer>
		<!-- Scripts here. Don't remove ↓ -->
		<script src="./libs/vue.js"></script>
		<script>
			var app = new Vue({
				el:'#app',
				data:{
					todos:[
						{name:'吃饭',completed:false},
						{name:'学习',completed:false},
						{name:'测试',completed:true},
					],
					newItem:'',
					toggle:false,
					editId:-1,
					hashValue:(location.hash === '#/')?1:(location.hash === '#/active'?2:3)                              //如果是1代表的是全部 如果是2代表的是未完成 如果是3代表的是已完成
				},
				methods:{
					add:function(){
						if(!this.newItem)return;
						// console.log('回车');
						var obj = {
							name:this.newItem,
							completed:false
						};
						// console.log(obj);
						this.todos.push(obj);
						this.newItem = '';
					},
					remove:function(index){
						// console.log(index);
						this.todos.splice(index,1);
					},
					toggleAll:function(){
						for(var i=0;i<this.todos.length;i++){
							this.todos[i].completed = this.toggle;// $scope.toggle
						}
					},
					clearCompleted:function(){
						this.todos = this.todos.filter(function(item){return item.completed == false});
					},
					edit:function(index){
						// console.log(index);
						this.editId = index;
					},
					save:function(){
						this.editId = -1;
					}
				},
				computed:{//有缓存，性能更好一点
					getItemNum:function(){
						return this.todos.filter(function(item){return item.completed == false}).length;
					},
					myTodos:function(){
						if(this.hashValue === 1){
							return this.todos;
						}
						if(this.hashValue === 2){
							return this.todos.filter(function(item){return item.completed === false})
						}
						if(this.hashValue === 3){
							return this.todos.filter(function(item){return item.completed === true})
						}
					}
				}
			})





			window.addEventListener('hashchange',function(){
				switch(location.hash){
					case '#/':
						app.hashValue = 1;
						break;
					case '#/active':
						app.hashValue = 2;
						break;
					case '#/completed':
						app.hashValue = 3;
						break;
				}
			})
		</script>
	</body>
</html>
